* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: rgb(240, 229, 227);
    background: linear-gradient(103deg, rgba(240, 229, 227, 1) 0%, rgba(222, 229, 239, 1) 23%, rgba(230, 235, 228, 1) 49%, rgba(239, 241, 220, 1) 77%, rgba(231, 239, 224, 1) 100%);
}

.textoSize {
    font-size: .8125rem;
}

.logoOutlook {
    width: 170px;
    margin-bottom: 20px;
}

.logoMicrosoft {
    width: 110px;
}

.cajaTitulos {
    margin: 16px 0 12px;
}

.tituloContenido {
    font-size: 1.5rem;
    font-weight: 600;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.texto1 {
    font-weight: 400;
    line-height: 20px;
}

.iCorreo {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 36px;
    border-color: rgba(0, 0, 0, 0.6);
    font-size: inherit;
    margin-bottom: 16px;
}

.iCorreo:focus-visible {
    outline: 0;
}

.iPass {
    display: none;
}

.cajaFormulario {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    padding: 40px;
}

.cajaEnlaces {
    display: flex;
    flex-direction: column;
}

.enlace1 {
    margin-bottom: 16px;
    color: #1b1b1b;
}

.enlaceOculto {
    display: none;
}

.enlace {
    text-decoration: none;
    color: #0067b8;
}

.cajaBoton {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 40px;
}

.anchoCaja {
    width: 350px;
}

.btnSiguiente {
    background-color: #0067b8;
    color: #fff;
    width: 110px;
    height: 32px;
    font-size: inherit;
    border: 0;
}

.cajaLlave {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 40px;
    margin-top: 20px;
}

.llave {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.optLlave {
    color: #1b1b1b;
    font-size: 0.9375rem;
}

footer {
    padding: 5px 0;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.6);
}

footer a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.puntos {
    letter-spacing: 3px;
    font-weight: 800;
}