<section class="container mt-5">
    <div class="col-6 offset-3">
        <h1 class="fuente-negocio text-center">Dejanos ayudarte!</h1>
        <div class="heading text-center">Diligencia los siguientes datos y nos colocaremos en contacto lo mas pronto posible
        </div>
        <form class="form" [formGroup]="contactoForm" (ngSubmit)="registrarContacto()">
            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="nombre" formControlName="nombre" />
                <label for="nombre">Nombres y apellidos</label>
            </div>
            <!-- A PARTIR DE ANGULAR 16 para atras -->
            <div class="fw-bold text-danger" *ngIf="contactoForm.get('nombre')?.hasError('required') && contactoForm.get('nombre')?.touched">El nombre es obligatorio</div>
            <div class="fw-bold text-danger" *ngIf="contactoForm.get('nombre')?.hasError('pattern') && contactoForm.get('nombre')?.touched">El nombre no es valido</div>
            <div class="input-field">
                <input required="" autocomplete="off" type="email" name="email" formControlName="correo" id="correo" />
                <label for="correo">Correo</label>
            </div>
            <div class="fw-bold text-danger" *ngIf="contactoForm.get('correo')?.hasError('required') && contactoForm.get('correo')?.touched">El correo es obligatorio</div>
            <div class="fw-bold text-danger" *ngIf="contactoForm.get('correo')?.hasError('minlength') && contactoForm.get('correo')?.touched">El correo no es valido</div>
            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="telefono" formControlName="telefono" />
                <label for="telefono">Teléfono</label>
            </div>
            <!-- A PARTIR DE ANGULAR 17 para delante-->
            @if(contactoForm.get('telefono')?.hasError('required') && contactoForm.get('telefono')?.touched){
            <div class="fw-bold text-danger">El teléfono es obligatorio</div>
            } @if(contactoForm.get('telefono')?.hasError('pattern') && contactoForm.get('telefono')?.touched){

            <div class="fw-bold text-danger">El teléfono no es valido</div>
            }

            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="mascota" formControlName="nombre_mascota" />
                <label for="mascota">Nombre de tu mascota</label>
            </div>
            @if(contactoForm.get('nombre_mascota')?.hasError('required') && contactoForm.get('nombre_mascota')?.touched){
            <div class="fw-bold text-danger">El nombre de la mascota es obligatorio</div>
            } @if(contactoForm.get('nombre_mascota')?.hasError('pattern') && contactoForm.get('nombre_mascota')?.touched){
            <div class="fw-bold text-danger">El nombre de la mascota no es valido</div>
            }
            <div class="btn-container d-flex justify-content-between">
                <button class="btn2">
                    <div>ENVIAR</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" fill="none">
                        <path d="M11.6801 14.62L14.2401 12.06L11.6801 9.5" stroke="white" stroke-width="2"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4 12.0601H14.17" stroke="white" stroke-width="2" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="white" stroke-width="2"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div class="acc-text">
                    Quieres registrarte?
                    <span style="color : #0000ff; cursor : pointer;">Crear cuenta</span>
                </div>
            </div>
        </form>
    </div>
</section>
