<section class="container mt-5">
    <div class="col-6 offset-3">
        <h1 class="fuente-negocio text-center">Dejanos ayudarte!</h1>
        <div class="heading text-center">Diligencia los siguientes datos y nos colocaremos en contacto lo mas pronto posible
        </div>
        <form class="form" action="">
            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="nombre" />
                <label for="nombre">Nombres y apellidos</label>
            </div>
            <div class="input-field">
                <input required="" autocomplete="off" type="email" name="email" id="correo" />
                <label for="correo">Correo</label>
            </div>
            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="telefono" />
                <label for="telefono">Teléfono</label>
            </div>
            <div class="input-field">
                <input required="" autocomplete="off" type="text" name="text" id="mascota" />
                <label for="mascota">Nombre de tu mascota</label>
            </div>
            <div class="btn-container d-flex justify-content-between">
                <button class="btn2">
                    <div>ENVIAR</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 24 24" fill="none">
                        <path d="M11.6801 14.62L14.2401 12.06L11.6801 9.5" stroke="white" stroke-width="2"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4 12.0601H14.17" stroke="white" stroke-width="2" stroke-miterlimit="10"
                            stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="white" stroke-width="2"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <div class="acc-text">
                    Quieres registrarte?
                    <span style="color : #0000ff; cursor : pointer;">Crear cuenta</span>
                </div>
            </div>
        </form>
    </div>
</section>