<footer class="mt-5 py-4">
    <main class="container">
        <section class="row">
            <div class="col-3">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <img src="assets/img/logo.png" class="w-25" alt="">
                    <div class="tituloFoo fuente-negocio">PATASALUD</div>
                </div>
            </div>
            <div class="col-9">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="bg-white rounded-4 p-2">
                        <img src="assets/img/footer/Premio-LATAM-Footer-Animals.png" alt="">
                        <img src="assets/img/footer/PremiosPetIndustry2020.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>
</footer>