<section class="container">
    <h3 class="fuente-negocio text-center h1 my-5">Productos destacados</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <app-producto-grilla precioProducto="85000" imagenProducto="https://www.alfaveterinaria.es/cache/a/2/4/8/7/a24874d07709cb19fde50ed818cd10c9be3cb387.jpg" descripcionProducto="Cama para perro mediana"></app-producto-grilla>
        <app-producto-grilla precioProducto="43500" imagenProducto="assets/img/productos/2.png" descripcionProducto="Hueso de ule"></app-producto-grilla>
        <app-producto-grilla precioProducto="125000" imagenProducto="assets/img/productos/3.png" descripcionProducto="Catnip para gato drogadicto"></app-producto-grilla>
        <app-producto-grilla precioProducto="72000" imagenProducto="assets/img/productos/4.png" descripcionProducto="Juguete de aventuras Peq."></app-producto-grilla>
        <app-producto-grilla precioProducto="85000" imagenProducto="assets/img/productos/5.png" descripcionProducto="Agility Gold - comida seca"></app-producto-grilla>
        <app-producto-grilla precioProducto="35000" imagenProducto="assets/img/productos/6.png" descripcionProducto="Cascabeles para gato"></app-producto-grilla>
    </div>
</section>