<section class="container">
    <h3 class="fuente-negocio text-center h1 my-5">Productos destacados</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="assets/img/productos/1.jpg" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h4 class="fuente-negocio">Cama para perro mediana</h4>
                    <h5>$ 85.000</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/productos/2.png" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h4 class="fuente-negocio">Hueso de ule</h4>
                    <h5>$ 43.200</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/productos/3.png" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h4 class="fuente-negocio">Catnip para gato drogadicto</h4>
                    <h5>$ 125.000</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/productos/4.png" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h4 class="fuente-negocio">Tuvo de aventuras peq</h4>
                    <h5>$ 72.000</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/productos/5.png" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h4 class="fuente-negocio">Agility Gold - comida seca</h4>
                    <h5>$ 85.000</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="assets/img/productos/6.png" class="card-img-top" alt="...">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <h4 class="fuente-negocio">Cascabeles para gato</h4>
                    <h5>$ 35.000</h5>
                </div>
            </div>
        </div>
    </div>
</section>