/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'patasalud-bold';
    src: url(assets/fonts/Potato_sans-Bold.otf);
}

body {
    overflow-x: hidden;
}

:root {
    --color-azul: #20acd0;
}

.fuente-negocio {
    font-family: 'patasalud-bold';
}