<div class="container mt-5">

    <h1>Registro de productos</h1>

    <form class="row g-3" [formGroup]="formProductos" (ngSubmit)="submitForm()">
        <div class="col-6">
            <div class="row">
                <div class="col-md-6 py-5">
                    <label for="txtNombreProducto" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txtNombreProducto" formControlName="nombre">
                    <div class="text-danger fw-bold opacity-0" [class.opacidadNO]="formProductos.get('nombre')?.hasError('required') && formProductos.get('nombre')?.touched">El nombre es obligatorio</div>
                </div>
                <div class="col-md-6 py-5">
                    <label for="txtPrecio" class="form-label">Precio</label>
                    <input type="text" class="form-control" id="txtPrecio" formControlName="precio">
                    <div class="text-danger fw-bold opacity-0" [class.opacidadNO]="formProductos.get('precio')?.hasError('required') && formProductos.get('precio')?.touched">El precio es obligatorio</div>
                    <div class="text-danger fw-bold opacity-0" [class.opacidadNO]="formProductos.get('precio')?.hasError('pattern') && formProductos.get('precio')?.touched">El precio no es valido</div>

                </div>
                <div class="col-12">
                    <label for="txtImagen" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="txtImagen" formControlName="imagen">
                    <div>
                        @if(formProductos.get('imagen')?.hasError('required') && formProductos.get('imagen')?.touched){
                        <div class="text-danger fw-bold">La imagen es obligatoria</div>
                        }
                    </div>

                    <div>
                        @if(formProductos.get('imagen')?.hasError('pattern') && formProductos.get('imagen')?.touched){
                        <div class="text-danger fw-bold">La url de la imagen no es valida</div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6 pt-5 pb-4">
            <label for="txtDesc" class="form-label">Descripción</label>
            <textarea class="form-control" id="txtDesc" cols="5" rows="8" formControlName="descripcion"></textarea>
            <div>
                @if(formProductos.get('descripcion')?.hasError('required') && formProductos.get('descripcion')?.touched){
                <div class="text-danger fw-bold">La descripción es obligatoria</div>
                }
            </div>
            <div>
                @if(formProductos.get('descripcion')?.hasError('minlength') && formProductos.get('descripcion')?.touched){
                <div class="text-danger fw-bold">La descripción debe contener como mínimo 15 caracteres</div>
                }
            </div>

        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary w-100 fw-bold h1">Crear</button>
        </div>
    </form>
</div>