<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/sliders/slider1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/img/sliders/slider2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/img/sliders/slider3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="fa-solid fa-angle-left text-dark fs-1" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="fa-solid fa-angle-right text-dark fs-1" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="container mt-5">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-column align-items-center cardBanner justify-content-center card1">
                <i class="fa-solid fa-truck fs-1 mb-4"></i>
                <div class="text-center fuente-negocio h3">ENTREGAS EL MISMO DIA</div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column align-items-center cardBanner justify-content-center card2">
                <i class="fa-solid fa-tags fs-1 mb-4"></i>
                <div class="text-center fuente-negocio h3">LOS MEJORES PRECIOS</div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column align-items-center cardBanner justify-content-center card3">
                <i class="fa-solid fa-gifts fs-1 mb-4"></i>
                <div class="text-center fuente-negocio h3">BENEFICIOS EXCLUSIVOS</div>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column align-items-center cardBanner justify-content-center card4">
                <i class="fa-solid fa-shield-heart fs-1 mb-4"></i>
                <div class="text-center fuente-negocio h3">TODO POR ELLOS Y PARA ELLOS</div>
            </div>
        </div>
    </div>
    <div class="fuente-negocio h2 text-center mt-5">
        Hipermercado de productos para mascotas, implementos veterinarios y productos agropecuarios. Tu tienda de mascotas de siempre, ahora es un moderno pet shop online con todas las marcas que prefieres para tu peludo. En un solo sitio podrás encontrar alimento
        concentrado, medicamentos veterinarios, accesorios, productos de higiene y belleza y todo lo que necesitas para el cuidado de los animales de granja y actividades del agro. Recibe nuestros productos en casa gracias a nuestro sistema de delivery.
    </div>

    <!-- <div class="card">
        <img src="assets/img/productos/1.jpg" #imagen1 (click)="mostrarOtraImagen()" class="card-img-top" alt="...">
    </div> -->




    <h3 class="fuente-negocio text-center h1 my-5">Productos destacados</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let imagen of productosDestacados()">
            <div class="card">
                <img [src]="imagen.ruta" class="card-img-top" [alt]="imagen.desc">
            </div>
        </div>
    </div>
</section>
