<div style="background-image: url(assets/img/banner.jpg);" class="encabezadoPag d-flex justify-content-center align-items-center">
    <img src="assets/img/logo.png" class="logo me-5" alt="">
    <div class="tituloNav fuente-negocio">PATASALUD</div>
</div>
<nav class="navbar navbar-expand-lg bg-verde sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="button type--A mx-3" routerLink="/">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text"><i class="fa-solid fa-house-chimney"></i> Inicio</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
                <a class="button type--A mx-3" routerLink="/contactanos">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text"><i class="fa-solid fa-phone"></i> Contacto</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
                <a class="button type--A mx-3" routerLink="/nuestros-productos">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text"><i class="fa-solid fa-bag-shopping"></i> Productos</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
                <a class="button type--A mx-3" routerLink="/ingreso">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text"><i class="fa-solid fa-bag-shopping"></i> Iniciar sesion</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
                @if (ingreso) {
                <a class="button type--A mx-3" routerLink="/admin/registro-productos">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text"><i class="fa-solid fa-bag-shopping"></i>Productos | Admin</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
                }
            </div>
        </div>
    </div>
</nav>